@model Drinks_Self_Learn.ViewModels.DrinkViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Drink ID: @Model.DrinkId</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LongDescription)
        </dt>
        <dd class="col-sm-10">
            <textarea class="form-control" asp-for="LongDescription" readonly cols="10" rows="5"></textarea>
        </dd>
        @for (int i = 0; i < Model.UrlsArr.Count; i++)
        {
            <dt class="col-sm-2">
                Silde @(i+1) :
            </dt>
            <dd class="col-sm-10">
                @Model.UrlsArr[i]
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageThumbnailUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageThumbnailUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsPreferredDrink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsPreferredDrink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InStock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InStock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DrinkId" class="btn btn-secondary"><i class="fas fa-edit"></i> Edit</a> <br />
    <a asp-action="Index" class="btn btn-warning"><i class="fas fa-chevron-left"></i> Back to List</a>
</div>
