@model IEnumerable<Drinks_Self_Learn.Data.Models.Drink>

@{
    ViewData["Title"] = "Admin Panel";
}

<h1>Admin Panel - Products</h1>

<p>
    <div class="btn-group">
        <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus"></i> Add New Product</a>
        <a asp-controller="AdminOrders" asp-action="Index" class="btn btn-dark"><i class="fas fa-boxes"></i> View Orders</a>
        <a asp-controller="AdminAccounts" asp-action="Index" class="btn btn-warning"><i class="fas fa-users"></i> Manage Users</a>
        <a asp-controller="AdminAccounts" asp-action="ListRoles" class="btn btn-warning"><i class="fas fa-id-badge"></i> Manage User Roles</a>
        <a type="button" class="btn btn-secondary" asp-controller="Comments" asp-action="Index"><i class="fas fa-comments"></i> View All Comments</a>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" asp-controller="Comments" asp-action="ListApproved">Approved Comments</a>
            <a class="dropdown-item" asp-controller="Comments" asp-action="ListUnapproved">UnApproved Commnets</a>
        </div>
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageThumbnailUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPreferredDrink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageThumbnailUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPreferredDrink)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DrinkId" class="btn btn-secondary"><i class="fas fa-edit"></i> Edit</a> <br />
                    <a asp-action="Details" asp-route-id="@item.DrinkId" class="btn btn-info"><i class="fas fa-info-circle"></i> Details</a> <br />
                    <a asp-action="Delete" asp-route-id="@item.DrinkId" class="btn btn-danger"><i class="fas fa-trash"></i> Delete</a> <br />
                    <a asp-controller="Drink" asp-action="Details" asp-route-id="@item.DrinkId" target="_blank" class="btn btn-primary"><i class="far fa-file"></i> Product page</a>
                </td>
            </tr>
        }
    </tbody>
</table>
