@model Drink

<div class="drink-card">
            <div class="img-thumbnail">
                <img id="drink-image" width="200" height="200" src="@Model.ImageThumbnailUrl" alt="drink image" />
                <div class="figure-caption">
                    <h3 class="float-right">@Model.Price.ToString("c")</h3>
                    <h3><a>@Model.Name</a></h3>
                    <p>@Model.ShortDescription</p>
                </div>
            </div>
            
            <div class="addToCart text-right">
                <p class="btn">
                    <a class="btn btn-success" id="cartButton" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-drinkId="@Model.DrinkId">
                    Add to cart &nbsp;<i class="fas fa-cart-plus"></i>
                    </a>
                </p>
            </div>
</div>