@model Drinks_Self_Learn.ViewModels.EditUserViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>for User: @Model.UserName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h3>User Roles</h3>
            </div>
            <div class="card-body">
                @if (Model.Roles.Any())
                {
                    foreach (var role in Model.Roles)
                    {
                        <h5 class="card-title">@role</h5>
                    }
                }
                else
                { <center><h1 class="fas fa-id-card"></h1></center>
                    <center><h5 class="card-title">None at the moment</h5></center>
                }
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h4>User Account Lockout</h4>
            </div>
            <div class="card-body">
                @if (ViewBag.LockOutStatusMessage == "UnLocked")
                {
                    <h5>Current Status: <i class="text-success">@ViewBag.LockOutStatusMessage</i></h5>
                }
                else
                {
                    <h5>Current Status: <i class="text-danger">@ViewBag.LockOutStatusMessage</i></h5>
                }
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div>
    <a asp-action="Index" asp-controller="AdminAccounts" class="btn btn-warning"><i class="fas fa-chevron-left"></i> Back to Users List</a>
    <a asp-action="IndexUser" asp-controller="AdminOrders" asp-route-id="@Model.Id" class="btn btn-info"><i class="fas fa-eye"></i> View All Orders From This User</a>
    <a asp-action="EditUser" asp-route-id="@Model.Id" asp-controller="AdminAccounts" class="btn btn-secondary" style="width:auto"><i class="fas fa-edit"></i> Edit</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" asp-controller="AdminAccounts" class="btn btn-danger" style="width:auto"><i class="fas fa-trash"></i> Delete</a>
</div>
