@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin Panel - Users</h1>

<p class="btn-group">
    <a asp-controller="Admin" asp-action="Index" class="btn btn-primary"><i class="fas fa-home"></i> MAIN VIEW</a>
    <a asp-controller="AdminOrders" asp-action="Index" class="btn btn-dark"><i class="fas fa-boxes"></i> View Orders</a>
    <a asp-controller="AdminAccounts" asp-action="ListRoles" class="btn btn-warning"><i class="fas fa-id-badge"></i> Manage Roles</a>
    <a asp-action="Register" asp-controller="Account" class="btn btn-success"><i class="fas fa-plus-square"></i> Create New User</a>
    <a type="button" class="btn btn-secondary" asp-controller="Comments" asp-action="Index"><i class="fas fa-comments"></i> View All Comments</a>
    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" asp-controller="Comments" asp-action="ListApproved">Approved Comments</a>
        <a class="dropdown-item" asp-controller="Comments" asp-action="ListUnapproved">UnApproved Commnets</a>
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.AccessFailedCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessFailedCount)
            </td>
            <td>
                <a asp-action="EditUser" asp-route-id="@item.Id" asp-controller="AdminAccounts" class="btn btn-secondary btn-block" style="width:auto"><i class="fas fa-edit"></i> Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" asp-controller="AdminAccounts" class="btn btn-info btn-block" style="width:auto"><i class="fas fa-info-circle"></i> Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id" asp-controller="AdminAccounts" class="btn btn-danger btn-block" style="width:auto"><i class="fas fa-trash"></i> Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
