@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin Panel - All Roles</h1>

<p>
    <div class="btn btn-group">

        <a asp-controller="Admin" asp-action="Index" class="btn btn-primary"><i class="fas fa-home"></i> MAIN VIEW</a>
        <a class="btn btn-success" style="width:auto" asp-action="CreateRole" asp-controller="AdminAccounts"><i class="fas fa-plus-square"></i> Create new Role</a>
        <a asp-controller="AdminOrders" asp-action="Index" class="btn btn-dark"><i class="fas fa-boxes"></i> View Orders</a>
        <a asp-controller="AdminAccounts" asp-action="Index" class="btn btn-warning"><i class="fas fa-users"></i> Manage Users</a>
        <a type="button" class="btn btn-secondary" asp-controller="Comments" asp-action="Index"><i class="fas fa-comments"></i> View All Comments</a>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" asp-controller="Comments" asp-action="ListApproved">Approved Comments</a>
            <a class="dropdown-item" asp-controller="Comments" asp-action="ListUnapproved">UnApproved Commnets</a>
        </div>
    </div>
</p>

@if (Model.Any())
{
    foreach (var item in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id: @item.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
            </div>
            <div class="card-footer">
               <form asp-action="DeleteRole" asp-route-id="@item.Id" method="post">
                   <a asp-action="EditRole" asp-controller="AdminAccounts" asp-route-id="@item.Id" class="btn btn-secondary"><i class="fas fa-edit"></i> Edit</a>
                
                <span id="confirmDeleteSpan_@item.Id" style="display:none">
                    <span>Are you sure you want to delete?</span>
                    <button type="submit" class="btn btn-danger">Yes</button>
                    <a href="#" class="btn btn-success" onclick="confirmDelete('@item.Id', false)">No</a>
                </span>

                <span id="deleteSpan_@item.Id">
                    <a href="#" class="btn btn-danger" onclick="confirmDelete('@item.Id', true)"><i class="fas fa-trash"></i> Delete</a>
                </span>
               </form>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No roles created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button bellow to create a role
            </h5>
            <a class="btn btn-primary" style="width:auto" asp-controller="AdminAccounts" asp-action="CreateRole">
                Create Role
            </a>
        </div>
    </div>				
}

@section Scripts{ 
    <script src="~/lib/js/DeleteScript.js"></script>
}