@model Drinks_Self_Learn.Data.Models.Order

@{
	ViewData["Title"] = "Details";
}
@{ 
	IEnumerable<Drink> drinks = ViewData["Drinks"] as IEnumerable<Drink>;
	List<OrderDetail> details = ViewData["Details"] as List<OrderDetail>;
}

<h1>Details</h1>

<div>
	<h4>Order</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.FirstName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.FirstName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.LastName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.LastName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.AddressLine1)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.AddressLine1)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.AddressLine2)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.AddressLine2)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ZipCode)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ZipCode)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.State)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.State)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Country)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Country)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.PhoneNumber)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.PhoneNumber)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Email)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Email)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.OrderPlaced)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.OrderPlaced)
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model.OrderId" class="btn btn-secondary"><i class="fas fa-edit"></i> Edit</a> <br />
	<a asp-action="Index" class="btn btn-warning"><i class="fas fa-chevron-left"></i> Back to List</a>
</div>

<h5>Ordered Items:</h5>
<table border="1">
	<tr class="bg-dark text-white">
		<td>Drink Name</td>
		<td>Price</td>
		<td>Ammount</td>
		<td>In Stock ?</td>
	</tr>
	@foreach (Drink drink in drinks)
	{
<tr>
	<td>@drink.Name</td>
	<td>@drink.Price</td>


	@foreach (OrderDetail od in details)
	{
		@if (drink.DrinkId == od.DrinkId)
		{
			<td> x @od.Amount</td>
		}
	}


	@if (drink.InStock)
	{
		<td class="bg-success text-white">@drink.InStock</td>
	}
	else
	{
		<td class="bg-danger text-white">@drink.InStock</td>
	}
</tr>
	}
	<tfoot>
		<tr class="bg-dark text-white">
			<td>Order Total:</td>
			<td>@Model.OrderTotal</td>
		</tr>
	</tfoot>
</table>